# workflow name 
name: Hexo Blog CI

#master branch on push,auto run
on:
  push:
    branches:
      - source

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # check it to your workflow can access it 
      # from : https://github.com/actions/checkout 
      - nameï¼š Checkout Repository master branch
        uses: actions/checkout@master

      # from: https://github.com/actions/setup-node
      - name: Setup Node.js 14.x
        uses: actions/setup-node@master
        with:
          node-version: "14.x"

      - name: Setup Hexo Deploy Private Key
        run: |
          npm install hexo-cli -g
          npm install

      - name: Setup Deploy Private Key
        env:
          HEXO-DEPLOY_PRIVATE_KEY: ${{ secrets.HEXO_DEPLOY_PRIVATE_KEY }}
        run: |
          mkdir -p ~/.ssh/
          echo "$HEXO_DEPLOY_PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/know_hosts

      - name: Setup Git Infomation
        run: |
          git config --global user.name 'lsgxs2019'
          git config --global user.email 'lsgxs141@126.com'
      - name: Deploy Hexo
        run: |
           hexo clean 
           hexo generate 
           hexo deploy                    